.button {
    border: none;
    background: none;
    /* background-color: #fff; */
    color: #fff;
    position: relative;
    z-index: 1;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
    margin: 0 auto;
    margin-top: 0px;
    display: inline-block;
    font-weight: 400;
}

.button.button--sacnite {
    width: 60px;
    height: 60px;
    min-width: 0;
    padding: 0;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s
}

.button--sacnite::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    box-shadow: inset 0 0 0 35px #283258;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
    transition: box-shadow 0.3s, transform 0.3s
}

.button.button--sacnite:hover {
    color: #283258
}

.button.button--sacnite:hover::before {
    box-shadow: inset 0 0 0 2px #283258;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1.1, 1.1, 1.1)
}

a:active, a:focus, a:hover {
    color: #516FCC;
    text-decoration: none;
}

ul.icons a:hover {
    background: rgba(255, 255, 0, 0.025)
}

ul.icons li {
    display: inline-block;
}

ul.icons a {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    /* line-height: 0em; */
    text-align: center;
    border: 0;
    box-shadow: none;
    padding: 0;
    border-radius: 100%;
    color: #aaa
}

.icons i {
    font-size: 30px;
    line-height: 60px
}

.icons {
    padding: 0;
    font-size: 1em;
}

/* - Buttons */
.animated-button {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    padding: 10px;
}

.animated-button span {
    position: relative;
    overflow: hidden;
    display: block;
    text-shadow: 0 17px 0 var(--teal);
}

.animated-button span em {
    min-width: 5px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
}

.animated-button span em:nth-child(1) {
    transition-delay: 0.025s;
}

.animated-button span em:nth-child(2) {
    transition-delay: 0.05s;
}

.animated-button span em:nth-child(3) {
    transition-delay: 0.075s;
}

.animated-button span em:nth-child(4) {
    transition-delay: 0.1s;
}

.animated-button span em:nth-child(5) {
    transition-delay: 0.125s;
}

.animated-button span em:nth-child(6) {
    transition-delay: 0.15s;
}

.animated-button span em:nth-child(7) {
    transition-delay: 0.175s;
}

.animated-button span em:nth-child(8) {
    transition-delay: 0.2s;
}

.animated-button span em:nth-child(9) {
    transition-delay: 0.225s;
}

.animated-button span em:nth-child(10) {
    transition-delay: 0.25s;
}

.animated-button span em:nth-child(11) {
    transition-delay: 0.275s;
}


a.btn,
.btn,
.single-post-text input[type="submit"],
button {
    padding: 0 35px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    line-height: 62px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #585d65;
    cursor: pointer;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px;
    transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
    -moz-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
    -webkit-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
    -o-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

a.btn:hover,
.btn:hover,
.single-post-text input[type="submit"]:hover,
button:hover {
    border-color: var(--teal);
}

a.btn:hover .animated-button em,
.btn:hover .animated-button em,
.single-post-text input[type="submit"]:hover .animated-button em,
button:hover .animated-button em {
    transform: translateY(calc(16px * -1));
}

a.btn:hover .icon,
.btn:hover .icon,
.single-post-text input[type="submit"]:hover .icon,
button:hover .icon {
    color: #68e0cf;
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -o-transform: translateX(6px);
}


a.btn .icon,
.btn .icon,
button .icon {
    margin-left: 10px;
    transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
    -moz-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
    -webkit-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
    -o-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

a:hover .animated-button em {
    transform: translateY(calc(16px * -1));
}

.animated-button em {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Poppins";
    color: inherit;
}