@font-face {
    font-family: "DankMono";
    src: url("DankMono.woff") format('woff');
    font-style: normal;
}

@font-face {
    font-family: "DankMono";
    src: url("DankMono-Italic.woff") format('woff');
    font-style: italic;
}