@font-face {
    font-family: "DM Sans";
    src: url("DMSans-Regular.woff") format('woff');
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("DMSans-Italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "DM Sans";
    src: url("DMSans-Bold.woff") format('woff');
    font-style: normal;
    font-weight: bold;
}